.fruitItems {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  height: 100%;
}

.fruitItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: verdana;
  border: 1px solid #58D68D;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 280px;
  width: 220px;
}

.fruitImage {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.fruitName, .priceAndCount {
  margin-bottom: 20px;
}

.priceAndCount {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.fruitPrice {
  margin-right: 5px;
  font-size: 25px;
}

.addToCart {
  background-color: #58D68D;
  height: 25px;
  width: 130px;
  cursor: pointer;
}

.addToCart:focus {
  outline: none;
}

.headerContainer {
  border-bottom: 5px solid #58D68D;
}

.header {
  font-family: verdana;
  background-color: #58D68D;
  color: white;
  font-size: 40px;
  font-weight: 700;
  height: 50px;
  width: 200px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.shopping_cart {
  height: auto;
  width: 400px;
  background-color: #58D68D;
}

.shopping_cart_head {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: verdana;
  font-weight: 700;
  margin-top: 10px;
}

.itemCount {
  color: white;
  font-family: verdana;
  display: flex;
  justify-content: center;
}
